body {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
}

h1{
  background-color: red;
  border-radius: 10px;

}

.título{
    position: relative;
    top: 10px;
    background-color: red;
    padding: 10px 20px;
    width: 400px;
    left: calc(50% - 220px);
    border-radius: 10px;
}

p{
    margin: 50px;
}

.secciones{
    position: relative;
    top: 50px;
}

#contacto{
    position: absolute;
    left: calc(50% - 350px);
}

#sobre{
    position: absolute;
    left: calc(50% + 150px);
}

a{
    position: relative;
    padding: 10px;
    color: white;
    transition: color 0,3s ease;
    text-decoration: none;
    background-color: red;
    border-radius: 10px;
}

a:hover{
    color: red;
    background-color: white;
    transition-duration: 0,3s;
}

.inicio{
    position: relative;
    top: 200px;
    background-color: red;
    border-radius: 10px;
}


.títulodiv {
  background-color: red;
  color: white;
  padding: 10px 20px;
  position: relative;
  transition: background-color 0.3s ease;
  border-radius: 10px;
}

.títulodiv:hover {
  background-color: white;
  color: red;
}

.subdirectorios {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: relative;
  left: 0;
  top: 100%;
  min-width: 200px;
  z-index: 1000;
}

.subdirectorios li {
  padding: 10px 20px;
  border-top: 1px solid red;
}

.subdirectorios li a {
  color: white;
  text-decoration: none;
}

.subdirectorios li a:hover {
  color: red;
}

.contenedordiv:hover .subdirectorios {
  display: block; 
}

#mail{
  background-color: black;
  text-decoration:underline;
  color: red;
}

#mail:hover{
  color: white;
}

#p1{
  background-color: white;
  position: absolute;
  top: 0;
  left: 10vw;
  width: 100px;
  height: 100px;
}

#p2{
  background-color: white;
  position: absolute;
  top: 0;
  left: calc(100% - 10vw - 100px);
  width: 100px;
  height: 200px;
}

.caja {
    width: 100%;
    top: 400px;
    height: 200px;
    position: absolute;
    left: calc(0% - 100px);
}

.pelota {
    top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid black;
    background: linear-gradient(to bottom, transparent 49%, black, transparent 51%);
    background-color: red;
    position: absolute;
    
    animation-duration: 3s;
    animation-name: bounce, transición;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes bounce {
    0% {
        transform: translateY(-200px);
    } 
    50%, 100% {
        transform: translateY(-300px);
    }
    25%, 75% { 
        transform: translateY(100px);
        transform: rotateZ(180deg);
    }
}

@keyframes transición {
    0% { 
        left: 0; 
    }
    100% { 
        left: 120%;
        transform: translateX(-100%); 
    }
}